@import url('https://fonts.googleapis.com/css2?family=Rowdies:wght@300;400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Delius&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Great+Vibes&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Fondo */
body {
  font-family: "Delius", cursive;
  background-color: #000;
  background-image: url("../img/pag/headern.png");
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  color: #fff;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 40px 20px;
}

/* Caja central */
.contacto-caja {
  background-color: rgba(0, 0, 0, 0.9);
  border-radius: 20px;
  padding: 50px 60px;
  max-width: 850px;
  width: 100%;
  box-shadow: 0 0 25px rgba(255, 255, 255, 0.1);
}

/* Título */
.contacto-titulo {
  text-align: center;
  font-family: "Great Vibes", cursive;
  font-size: 42px;
  margin-bottom: 40px;
}

.contacto-destiny {
  font-family: "Oswald", sans-serif;
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 3px;
  font-size: 50px;
  color: #cfcfcf;
}

/* Items */
.contacto-item {
  margin-bottom: 30px;
}

.contacto-item h3 {
  font-family: "Rowdies", sans-serif;
  font-size: 22px;
  margin-bottom: 10px;
  color: #fff;
}

.contacto-item p {
  font-size: 18px;
  line-height: 1.6;
  color: #ddd;
}

/* Redes */
.redes-contacto {
  margin-top: 10px;
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.icono-red {
  background-color: #fff;
  color: #000;
  padding: 8px 12px;
  border-radius: 8px;
  font-weight: bold;
  font-family: "Rowdies", sans-serif;
  text-decoration: none;
  display: inline-flex;
  align-items: center;

  gap: 6px;
  width: fit-content;
  transition: 0.3s;
}

.icono-red:hover {
  background-color: #dcdcdc;
  transform: scale(1.05);
}

/* Gracias */
.contacto-gracias {
  font-family: "Rowdies", sans-serif;
  margin-top: 40px;
  font-size: 19px;
  color: #fff;
}
.icono-red img {
    transform: translateY(1px);
}

/* Botón volver */
.contacto-volver {
  display: inline-block;
  margin-top: 50px;
  padding: 12px 25px;
  background-color: #fff;
  color: #000;
  border-radius: 10px;
  font-family: "Rowdies", sans-serif;
  font-size: 16px;
  text-decoration: none;
  transition: 0.3s;
}

.contacto-volver:hover {
  background-color: #ddd;
  transform: scale(1.05);
}

/* Scrollbar */
::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background: #000;
}

::-webkit-scrollbar-thumb {
  background: #444;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background: #555;
}

html {
  scrollbar-color: #444 #000;
  scrollbar-width: thin;
}
