@import url('https://fonts.googleapis.com/css2?family=Rowdies:wght@300;400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Delius&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Great+Vibes&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* Fondo general */
body {
  font-family: "Delius", cursive;
  background-color: #000;
  background-image: url("../img/pag/headern.png");
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  color: #fff;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 40px 20px;
}

/* Carta negra al medio */
.carta {
  background-color: rgba(0, 0, 0, 0.9);
  border-radius: 20px;
  box-shadow: 0 0 25px rgba(255, 255, 255, 0.1);
  padding: 50px 60px;
  max-width: 850px;
  width: 100%;
  text-align: left;
}

/* Título principal */
.titulo {
  text-align: center;
  font-family: "Great Vibes", cursive;
  font-size: 42px;
  color: #fff;
  margin-bottom: 40px;
}

.destiny {
  font-family: "Oswald", sans-serif;
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 3px;
  font-size: 50px;
  color: #cfcfcf;
}

/* Contenido */
.politica-item {
  margin-bottom: 30px;
}

.politica-item h3 {
  font-family: "Rowdies", sans-serif;
  font-size: 22px;
  color: #fff;
  margin-bottom: 10px;
}

.politica-item p {
  font-size: 18px;
  line-height: 1.6;
  color: #ddd;
}

.agradecimiento {
  margin-top: 40px;
  font-family: "Rowdies", sans-serif;
  font-size: 19px;
  color: #fff;
}

/* Botón */
.boton-volver {
  display: inline-block;
  margin-top: 50px;
  padding: 12px 25px;
  background-color: #fff;
  color: #000;
  border-radius: 10px;
  font-family: "Rowdies", sans-serif;
  font-size: 16px;
  text-decoration: none;
  transition: 0.3s;
}

.boton-volver:hover {
  background-color: #ddd;
  transform: scale(1.05);
}
::-webkit-scrollbar {
    width: 8px; 
    height: 8px;
}

::-webkit-scrollbar-track {
    background: #000; /* Negro para que coincida con el fondo */
    border-radius: 10px;
}

::-webkit-scrollbar-thumb {
    background: #444; /* Gris oscuro para la barrita que se mueve */
    border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
    background: #555;
}

html {
    scrollbar-color: #444 #000; /* thumb track */
    scrollbar-width: thin;
}
